body{
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
}
header{
background-color: #36454F;

}


h1{
    text-align: center;
}
#logo {
    width: 150px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
#logo:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}
nav{
    background-color: #B04A4A ;
    padding: 10px;
    text-align: center;

}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;

}

nav a:hover{
    color: gold;
}

footer{
    background-color: #36454F;
    color: #FFF;
    padding: 10px;

    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
}
