body{
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
}
header{
background-color: #36454F;
align-items: center;
display: flex;
text-align: center;
justify-content: center;
}
h1{
    text-align: center;
}
#logo {
    width: 150px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
#logo:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}
nav{
    background-color: #B04A4A ;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: underline;
    font-weight: bold;

}