body{
    font-family: Arial, sans-serif;
    background-color: #FFB6C1;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#prueba{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr 0fr;
}
header {
    background-color: #FFB6C1;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#logo{

    float: left;

    width: 200px;
    height: auto;
}
header h1 {
    margin-top: 81px;
    display: inline-block;
    color: #4A90E2;

}

nav{
    background-color: #FFB6C1 ;
    padding: 10px;
    margin: 0px;
    color: white;
    font-weight: bold;
        text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav a:hover {
    color: #FF547F; 
    background-color: rgba(255, 255, 255, 0.2); 
}

main{
    align-items: flex-start;
    display: flex;
    background-color: #FFE4E1;
    color: #333333;
    width: 100%;
    padding-top: 10px ;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    margin-right: 0;
}

.video-ingredientes {
    display: flex; 
    align-items: flex-start; 
}


#ingredientes{
    flex: 1; 
    background-color: #f8f9fa; 
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
    margin-left: 50px; 
    height: 270px;
    width: 400px;

}
#ingredientes h3 {
    text-align: center;
}
footer {
    background-color: #FFB6C1;
    color: #FFE5EC;
    text-align: center;
        padding: 20px; 
        letter-spacing: 0.5px; 
        bottom: 0;
        width:100%;


    }
    

